@model SearchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-img">
    <div class="container">
        <div class="row">
            <div class="input-wrapper offset-lg-2 offset-md-1 col-xs-12 col-md-10 col-lg-8">
                <div class="input-text">
                    <h1>Can't decide on what to eat?</h1>
                    <h2>Let us decide for you</h2>
                    <form method="get" action="/Home/Search">
                        <input type="hidden" name="MealType" id="mealType" value="" />
                        <input type="text" name="Address" id="addr-input" placeholder="Enter your address" required />
                        <img src="/images/location.png" alt="img" onclick="getLocation(null)" />
                        <button type="submit" id="search-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="suggestion-block">
    <div class="container">
        <div class="title-text">
            <h1>Quick search</h1>
            <h2>Search for a random restaurant by meal type</h2>
        </div>
        <div class="row">
            <div class="meal-type col-sm-12 col-lg-4">
                <div class="type-text" onclick="getLocation('breakfast')">
                    <img src="/images/meal-type/breakfast.svg" />
                    <p>Breakfast</p>
                </div>
            </div>
            <div class="meal-type col-sm-12 col-lg-4">
                <div class="type-text" onclick="getLocation('lunch')">
                    <img src="/images/meal-type/lunch.svg" />
                    <p>Lunch</p>
                </div>
            </div>
            <div class="meal-type col-sm-12 col-lg-4">
                <div class="type-text" onclick="getLocation('dinner')">
                    <img src="/images/meal-type/dinner.svg" />
                    <p>Dinner</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/site.js"></script>
<script>
    function activatePlaceSearch() {
        var input = document.getElementById("addr-input");
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=ZomatoApiKey&libraries=places&callback=activatePlaceSearch"></script>
