/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* General styling -- starts here */

.home-nav {
    position: absolute;
    padding-top: 20px;
}

.result-nav {
    position: absolute;
}

.navbar-brand {
    text-align: center;
}

.navbar-brand img {
    width: 35px;
}


footer p {
    text-align: center;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    background-color: #F3F3F3;
    padding-bottom: 50px;
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 14px;
    }

    .hero-img {
        height: 600px;
    }

    .input-wrapper {
        padding-top: 200px;
    }

    .res-img img {
        height: 350px;
        width: 100%;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 20px 0 0 0;
    }
}

@media only screen and (max-width: 991px) {
    body {
        font-size: 10px;
    }

    .hero-img {
        height: 400px;
    }

    .input-wrapper {
        padding-top: 100px;
    }

    .res-img img {
        height: 350px;
        width: 100%;
    }

    .input-box {
        padding-bottom: 10px;
    }

    footer {
        position: absolute;
        width: 100%;
        padding: 20px 0 0 0;
    }

}

@media screen and (max-width: 400px) {
    body {
        font-size: 9px;
    }

    .res-img img {
        height: 250px;
        width: 100%;
    }

    .input-box {
        padding-bottom: 10px;
    }

    footer {
        position: absolute;
        width: 100%;
        padding: 20px 0 0 0;
    }
}

/* Hero image styling starts here ------------------- */

.hero-img {
    background-image: url("../images/banner-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-text {
    padding: 20px 0 30px 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 3px;
}

.input-text h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.input-text h2 {
    font-size: 1.6em;
    padding-bottom: 10px;
    font-weight: 600;
}

#location-icon, .input-text img {
    cursor: pointer;
    height: 18px;
    margin-left: -40px;
}

#addr-input {
    margin-left: -20px;
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0 45px 0 20px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

#search-btn {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #F76363;
    color: white;
    cursor: pointer;
}

/* Home page styling -- end*/

/* Suggestion list styling -- starts here */

.suggestion-block {
    padding-top: 30px;
}

.title-text h1 {
    font-size: 2em;
    font-weight: 600;
}

.title-text h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.meal-type {
    padding-top: 30px;
    text-align: center;
}

.type-text {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    padding: 20px 0 5px 0;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

    .type-text:hover {
        transform: scale(1.1);
    }

    .type-text p {
        padding-top: 10px;
    }

.meal-type img {
    text-align: center;
    width: 25%;
}

/* Styling for restaraunt result -- starts here */

/* -- Restaurant result -- all blocks */

.res-info-wrapper, .res-contact-wrapper {
    padding: 20px 15px 0 15px;
}

.res-block-one, .res-block-two {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

/* -- Restaurant result -- block one */

.res-block-one-padding {
    padding: 80px 0 20px 0;
}

.res-block-one h1 {
    font-size: 1.8em;
}

.res-block-one p {
    color: grey;
}

.res-img {
    width: 100%;
    text-align: center;
}

.res-name, .res-type, .res-phone, .res-addr {
    width: 100%;
}

.res-rating {
    text-align: right;
}

/* -- Restaurant result -- block two */

.res-contact-wrapper {
    padding-bottom: 20px;
}

.res-block-two h1 {
    font-size: 1.5em;
}

.res-block-two a {
    margin-bottom: 1rem;
}

#gmap-canvas {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: none;
    border: 1px solid grey;
}
