/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* General styling -- starts here */

.navbar {
    padding-top: 20px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    background-color: #F3F3F3;
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 14px;
    }

    .hero-img {
        height: 600px;
    }

    .input-wrapper {
        padding-top: 200px;
    }

    .banner-img img {
        position: center;
        width: 100%;
        height: 550px;
    }
}

@media only screen and (max-width: 991px) {
    body {
        font-size: 12px;
    }

    .hero-img {
        height: 400px;
    }

    .input-wrapper {
        padding-top: 120px;
    }

    .banner-img img {
        position: center;
        width: 100%;
        height: 400px;
    }
}

/* Hero image styling starts here ------------------- */

.hero-img {
    background-image: url("../images/banner-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-text {
    padding: 20px 0 30px 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 3px;
}

    .input-text h1 {
        font-size: 2.5em;
        font-weight: 700;
    }

    .input-text h2 {
        font-size: 1.6em;
        padding-bottom: 10px;
        font-weight: 600;
    }

    .input-text img {
        cursor: pointer;
        height: 18px;
        margin-left: -40px;
    }

#addr-input {
    width: 60%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0 20px 0 20px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

#search-btn {
    margin-left: 25px;
    width: 20%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #F76363;
    color: white;
    cursor: pointer;
}

/* Home page styling -- end*/

/* Suggestion list styling -- starts here */

.suggestion-block {
    padding-top: 30px;
}

.title-text h1 {
    font-size: 2em;
    font-weight: 600;
}

.title-text h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.meal-type {
    padding-top: 30px;
    text-align: center;
}

.type-text {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    padding: 20px 0 5px 0;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

    .type-text:hover {
        transform: scale(1.1);
    }

    .type-text p {
        padding-top: 10px;
    }

.meal-type img {
    text-align: center;
    width: 25%;
}

/* Styling for restaraunt result -- starts here */

.address-block, .phone-block {
    display: block;
    width: 450px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.checked {
    color: orange;
}

.location-img, .phone-img {
    height: 40px;
}


.location-img, .phone-img {
    padding-right: 15px;
}

.review-block {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
}

.restaurant-name {
    padding-top: 25px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.star-block {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
